@page "/reviewcollection"
<PageTitle>Review Collection</PageTitle>
@rendermode InteractiveServer

@using BookSystem

<h3>Review Collection</h3>

<!--Success Area-->
@if (feedback.Length > 0)
{
    <div class="alert alert-info">
        <p>@feedback</p>
    </div>
}

<!--Errors Area-->
@if (errorMsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues:</p>
        @foreach(var error in errorMsgs)
        {
            <p>@error</p>
        }
    </div>
}

<!--Data Form Area-->
<fieldset class="row">
    <div class="col-2">

    </div>
    <!--Book Details Area-->
    <div class="col-4">
        <h4>Books Details</h4>
        <!--For ISBN-->
        <div class="form-group row">
            <label for="isbn" class="col-sm-4 col-form-label">ISBN<span style="color:red">*</span></label>
            <div class="col-8">
                <input type="text" class="form-control" id="isbn" @bind="isbn" required/>
            </div>
        </div>
        <br />
        <!--For Title-->
        <div class="form-group row">
            <label for="title" class="col-sm-4 col-form-label">Title<span style="color:red">*</span></label>
            <div class="col-8">
                <input type="text" class="form-control" id="title" @bind="title" required />
            </div>
        </div>
        <br/>
        <!--Author Selector-->
        <div class="form-group row">
            <label for="author" class="col-sm-4 col-form-label">Select Author<span style="color:red">*</span></label>
            <div class="col-8">
                <select class="form-control" id="author" @bind="selectedAuthor">
                    <option value="">Select an author...</option>
                    @foreach (var item in authors)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <!--Review Aream-->
    <div class="col-4">
        <h4>Review</h4>
        <!--Reviewer-->
        <div class="form-group row">
            <label for="reviewer" class="col-sm-4 col-form-label">Reviewer<span style="color:red">*</span></label>
            <div class="col-8">
                <input type="text" class="form-control" id="reviewer" @bind="reviewer" required/>
            </div>
        </div>
        <br />
        <!--Rating-->
        <div class="form-group row">
            <label for="rating" class="col-sm-4 col-form-label">Rating<span style="color:red">*</span></label>
            <div class="col-8">
                <select class="form-control" id="rating" @bind="rating" required>
                    @foreach (var item in Enum.GetValues(typeof(RatingType)))
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
        </div>
        <br/>
        <!--Comment-->
        <div class="form-group row">
            <label for="comment" class="col-sm-4 col-form-label">Comment<span style="color:red">*</span></label>
            <div class="col-8">
                <textarea class="form-control" id="comment" @bind="comment"></textarea>
            </div>
        </div>
    </div>
    <div class="col-2">

    </div>
    <br />
    <br />
    <br />
    <!--Buttons Area-->
    <div class="text-center">
        <button type="submit" class="btn btn-primary rounded-pill" @onclick="OnCollect">Collect</button>
        <button class="btn btn-warning rounded-pill" @onclick="OnClearForm">Clear</button>
        <button class="btn btn-primary rounded-pill" @onclick="OnGoToReport">Report</button>
    </div>
</fieldset>
